<h1 class="heading" i18n>Signup</h1>
<form class="login-form" [formGroup]="signupForm" (ngSubmit)="onSubmit($event)">
    <div class="form-group">
        <label for="firstName" i18n>First Name</label>
        <input type="text" id="firstName" name="firstName" formControlName="firstName" placeholder="John" required>
        <div *ngIf="firstName!.invalid && (firstName!.dirty || firstName!.touched)" class="login-alert">
            <div *ngIf="firstName!.errors?.['required']">First name is required.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName" i18n>Last Name</label>
        <input type="text" id="lastName" name="lastName" formControlName="lastName" placeholder="Doe" required>
        <div *ngIf="lastName!.invalid && (lastName!.dirty || lastName!.touched)" class="login-alert">
            <div *ngIf="lastName!.errors?.['required']">Last name is required.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="phoneNumber" i18n>Phone Number</label>
        <input type="tel" id="phonenumber" name="phoneNumber" formControlName="phoneNumber" placeholder="+905999999999"
            required>
        <div *ngIf="phoneNumber!.invalid && (phoneNumber!.dirty || phoneNumber!.touched)" class="login-alert">
            <div *ngIf="phoneNumber!.errors?.['required']">Phone number is required.</div>
            <div *ngIf="phoneNumber!.errors?.['pattern']">This is not a valid phone number.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="dateOfBirth" i18n>Date of Birth</label>
        <input type="date" id="dateOfBirth" name="dateOfBirth" formControlName="dateOfBirth"
            placeholder="Select Date of Birth" required>
        <div *ngIf="dateOfBirth!.invalid && (dateOfBirth!.dirty || dateOfBirth!.touched)" class="login-alert">
            <div *ngIf="dateOfBirth!.errors?.['required']">Date of Birth is required.</div>
            <div *ngIf="dateOfBirth!.errors?.['ageTooYoung']">You must be at least 7 years old.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="email" i18n>E-mail</label>
        <input type="text" id="email" name="email" formControlName="email" placeholder="example@email.com" required
            email="true">
        <div *ngIf="email!.invalid && (email!.dirty || email!.touched)" class="login-alert">
            <div *ngIf="email!.errors?.['required']">Email is required.</div>
            <div *ngIf="email!.errors?.['email']">This is not a valid email.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password" i18n>Password</label>
        <div class="password-group">
            <input [type]="isPasswordVisible" id="password" name="password" formControlName="password"
                placeholder="********" required minlength="8">
            <div class="password-toggle" (click)="togglePasswordVisibility()">
                <span *ngIf="isPasswordVisible === 'password'" title="Show Password">
                    <ng-icon name="radixEyeClosed" size="1.25rem" />
                </span>
                <span *ngIf="isPasswordVisible === 'text'" title="Hide Password">
                    <ng-icon name="radixEyeOpen" size="1.25rem" />
                </span>
            </div>
        </div>
        <div *ngIf="password!.invalid && (password!.dirty || password!.touched)" class="login-alert">
            <div *ngIf="password!.errors?.['required']">Password is required.</div>
            <div *ngIf="password!.errors?.['minlength']">Password must be at least 8 characters
                long.</div>
        </div>
    </div>
    <button [disabled]="!signupForm.valid" type="submit">Sign Up</button>
    <app-spinner [loadingText]="loadingText"></app-spinner>
    <div *ngIf="this.httpErrorService.httpError?.error" class="login-alert">An error occured: {{
        this.httpErrorService.httpError?.error?.detail }}
    </div>
    <div class="login-link">
        Already have an account? <a routerLink="/login" i18n>Login</a>
    </div>
</form>