<footer class="footer-container">
    <div class="footer">
        <nav>
            <h6 class="footer-title">Services</h6>
            <a class="link link-hover">Branding</a>
            <a class="link link-hover">Design</a>
            <a class="link link-hover">Marketing</a>
            <a class="link link-hover">Advertisement</a>
        </nav>
        <nav>
            <h6 class="footer-title">Legal</h6>
            <a class="link link-hover">Terms of use</a>
            <a class="link link-hover">Privacy policy</a>
            <a class="link link-hover">Cookie policy</a>
        </nav>
        <nav>
            <h6 class="footer-title">Social</h6>
            <a class="link link-hover">Twitter</a>
            <a class="link link-hover">Instagram</a>
            <a class="link link-hover">Facebook</a>
            <a class="link link-hover">Github</a>
        </nav>
        <nav>
            <h6 class="footer-title">Apps</h6>
            <a class="link link-hover">Mac</a>
            <a class="link link-hover">Windows</a>
            <a class="link link-hover">iPhone</a>
            <a class="link link-hover">Android</a>
        </nav>
    </div>
</footer>