<footer class="footer lg:container">
    <nav>
        <h6 class="footer-title" i18n>Services</h6>
        <a class="link link-hover" i18n>Branding</a>
        <a class="link link-hover" i18n>Design</a>
        <a class="link link-hover" i18n>Marketing</a>
        <a class="link link-hover" i18n>Advertisement</a>
    </nav>
    <nav>
        <h6 class="footer-title" i18n>Legal</h6>
        <a class="link link-hover" i18n>Terms of use</a>
        <a class="link link-hover" i18n>Privacy policy</a>
        <a class="link link-hover" i18n>Cookie policy</a>
    </nav>
    <nav>
        <h6 class="footer-title" i18n>Social</h6>
        <a class="link link-hover" i18n>Twitter</a>
        <a class="link link-hover" i18n>Instagram</a>
        <a class="link link-hover" i18n>Facebook</a>
        <a class="link link-hover" i18n>Github</a>
    </nav>
    <nav>
        <h6 class="footer-title" i18n>Apps</h6>
        <a class="link link-hover" i18n>Mac</a>
        <a class="link link-hover" i18n>Windows</a>
        <a class="link link-hover" i18n>iPhone</a>
        <a class="link link-hover" i18n>Android</a>
    </nav>
</footer>