<section class="section-container breadcrumbs">
    <ul>
        <li>
            <a [routerLink]="['/']" class="btn btn-link">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    class="hidden md:inline-block  w-4 h-4 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>
                </svg>&nbsp;<span i18n>Home</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/announcements']" class="btn btn-link">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    class="hidden md:inline-block w-4 h-4 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>
                </svg>&nbsp;<span i18n>Announcements, News and Events</span>
            </a>
        </li>
        <li class="btn btn-link text-xs md:text-sm">
            <div class="inline-flex items-center gap-2">
                <div [ngSwitch]="announcementTag" class="breadcrumb-tag-container hidden md:inline-block">
                    <div *ngSwitchCase="0" class="announcement-tag">
                        <ng-icon name="matAnnouncement"></ng-icon>
                    </div>
                    <div *ngSwitchCase="1" class="announcement-tag">
                        <ng-icon name="matNewspaper"></ng-icon>
                    </div>
                    <div *ngSwitchCase="2" class="announcement-tag">
                        <ng-icon name="matEvent"></ng-icon>
                    </div>
                    <div *ngSwitchDefault class="announcement-tag">
                        <ng-icon name="matAnnouncement"></ng-icon>
                    </div>
                </div>&nbsp;{{announcementTitle}}
            </div>
        </li>
    </ul>
</section>
<section class="section-container announcement-detail-container">
    <div class="announcement-detail-header">
        <h3 class="announcement-detail-title prose">{{announcementTitle}}</h3>
        <div class="announcement-detail-date">
            <span>{{announcementDate | date: 'dd/MM/yyyy'}}</span>
        </div>
    </div>
    <div class="announcement-detail-content">
        <p>{{announcementContent}}</p>
    </div>
</section>