@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    :root {
        font-size: 18px;
    }
}

@layer components {

    .btn-primary {
        @apply bg-primary-button border-primary outline-primary rounded-none font-medium opacity-90;

        &:hover,
        &:focus {
            @apply relative bg-primary-button border-primary outline-primary rounded-none font-medium opacity-100;

            &::after {
                content: '';
                position: absolute;
                bottom: 0.75rem;
                left: 50%;
                transform: translateX(-50%);
                width: 70%;
                height: 1px;
                background-color: currentColor;
                @apply animate-growLine;
            }
        }
    }

    .btn-pagination {
        
        &>* {
            @apply animate-none;
        }

        &:hover,
        &:focus {
            &::after {
                @apply animate-none;
                content: none;
            }
        }
    }

    .btn-pagination-disabled {
        @apply cursor-default opacity-75;

        &:hover,
        &:focus {
            @apply opacity-85;

        }
    }

    .btn-link {
        @apply inline-block text-primary mx-1 p-0 my-0 h-fit no-underline;

        &::hover {
            @apply underline;
        }
    }
}

@layer utilities {}