<div class="card card-side bg-base-100 shadow-xl">
    <figure><img src="https://cdn.biletiva.com/event/G7121/poster-700x1000.jpg" alt="Book"
             /></figure>
    <div class="card-body">
        <div class="card-top">Hacivar ve Karagoz</div>
        <h2 class="card-title">New movie is released!</h2>
        <p>Click the button to watch on Jetflix app.</p>
        <div class="card-actions justify-end">
            <button class="btn btn-primary">Reserve</button>
        </div>
    </div>
</div>